.breadcrumb {
  min-height: 32px;
  line-height: 1.5em;
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.collapsed:hover .collapsed-crumbs {
  display: block;
}

.collapsed-button {
  margin: 0 10px;
}

.collapsed-crumbs {
  display: none;
  border: 1px solid rgb(214, 214, 214);
  border-radius: 5px;
  padding: 10px;
  position: absolute;
  z-index: 1000;
}

